<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c266aa46-8e51-45f3-88f2-c167e91a27c4/resourcegroups/Week13Assignment/providers/Microsoft.Web/sites/Week11G4APITK</ResourceId>
    <ResourceGroup>Week13Assignment</ResourceGroup>
    <ApiResourceId>/subscriptions/c266aa46-8e51-45f3-88f2-c167e91a27c4/resourceGroups/Week13Assignment/providers/Microsoft.ApiManagement/service/Week11G4APITK1/apis/Week11G4API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://week11g4apitk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>28dca268-5b10-43c6-9f3a-71c099ffe96d</ProjectGuid>
    <MSDeployServiceURL>week11g4apitk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Week11G4APITK</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Week11G4APITK</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>